* {
  margin: 0;
  padding: 0;

  font-family: Verdana, Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
}

a:hover {
}

#main {
    margin: 0px auto;
    width: 1000px;
}

#menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px auto;
}

#menu ul {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}

#menu ul li {
    /*border: 1px solid green;*/
    display: inline;
    padding: 5px 20px 5px 20px;
}

#menu ul li:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

#maintext {
    font-size: 30pt;
    text-align: center;
    padding-top: 75px;
}

 
#header {
  background-image:url('images/header.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 984px;
  height: 165px;
  margin: 0px auto 5px auto;
}

#home {
  width: 90px;
}


