* {
  margin: 0;
  padding: 0;

  font-family: Verdana, Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
}

a:hover {
}

#main {
    margin: 0px auto;
    width: 1000px;
}

#menu {
    border-top: 1px solid blue;
    margin: 0px auto;
    width: 1000px;
    height: 50px;
}

#menu ul {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}

#menu ul li {
    /*border: 1px solid green;*/
    display: inline;
    padding: 5px 20px 5px 20px;
}

#menu ul li:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

#maintext {
    font-size: 30pt;
    text-align: center;
    padding-top: 75px;
}

#header {
    /*border: 1px solid red;*/
    width: 1000px;
    height: 200px;
    margin: 0px auto;
    background-color: #EEEEEE;
}