/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
h1		{ color: #7b2e2e; margin: 2px auto; text-align:center; }
h2		{ color: #7b2e2e; padding: 8pt; }
h3		{ padding: 5pt; }
h4		{ padding: 3pt;  }

/* Remove the annoying underlines, but still keep it accessible */
a { text-decoration: none; }
a:hover { color:#a00; border-bottom: 1px dotted #a00; }



/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
body { font-family: "Droid Sans", Arial, sans-serif; }
h1, h2, h3 { font-family: Puritan, Verdana, Helvetica sans-serif; }
code, pre { font-family: "Courier New" Courier monospace; }

body {
		background: #ffffff;
		background: url(hatchbkgd.png) repeat;
		margin: 0; padding: 0;
}

#scrollcontainer {
	width:100%;
	margin: 0; padding: 0;
	background: #ffffff;
	border-bottom: 3px solid #00a4e4;
}

#splashscreen {
		width: 900px;
		margin: 20px auto;
		padding: 2px;
}

#splashscreen h2 { font-size: 300%; margin-bottom:2px; padding:2px; }
#splashscreen h3 { font-size: 150%; margin-top:2px; padding:2px; }
#splashscreen h4 { font-size: 120%; margin:2px auto; color:#006600; text-align: center; }
#keytraits {
		list-style-type: none;
		-moz-column-count: 3; -webkit-column-count: 3; column-count: 3;
}
#keytraits li { display: inline-block; }
#keytraits li p { color: #777777; font-size:90%; }
#capabilities { border-top: 1px solid #cccccc; }
#capabilities ul { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; }


#maincontainer {
		background: #fefefe; color: black;
		margin:3em auto 20px;
		padding:30px;
		width: 900px;
		-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
		box-shadow: 0px 2px #aaa;
		border: 1px solid #ccc;
}

div.navigation {
		position: fixed;
		top:0; left:0;
		width: 100%;
		text-align: left;
		margin:0; padding: 2px;
		border-bottom: 1px #444444 solid;
		background: #2c2c2c;
		color: #efefef;
		font-size: 90%;
}

div.navigation a { color: #88d6f9; }
div.navigation a:hover { color: #c4c4c4; border-color: #c4c4c4; }

ul.manual-toc {
		-moz-column-width: 32em;
		-webkit-column-width: 32em;
		column-width: 32em;
		display: none;
}

ul.manual-toc > li { font-weight: bold; }
ul.manual-toc > li > ul { font-weight: normal; }
ul.manual-toc,
ul.manual-toc ul { list-style-type: none; }
ul.manual-toc li a { color: #000; text-decoration: none; }
ul.manual-toc li a:hover { color: #7b2e2e; }


#nav-quicklinks {
		display:inline-block;
		padding: 0px 10px;
		margin: 5px;
		float: right;
}

#nav-quicklinks li {
		display: inline;
		padding:0px 2px;
		margin: 0px 1em;
}

#nav-quicklinks a { text-decoration: none; }
#nav-quicklinks a:hover { color: #c4c4c4; }

.navsymbol {
		font-weight:bold;
		font-size: 130%;
		line-height:70%;
}

div.manualtitle	{
		display: inline-block;
		margin: 5px;
		text-align: center;
		font-weight: bold;
}

#pulldowntab {
	position: absolute;
	left: 50%; top: 0.75em;
	color: #999;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	writing-mode: tb-rl;
}

#nav-floatmenu {
	margin: 0; padding: 0;
	position: fixed; top: 15%; left: 4px;
	border: none;
	border-radius: 3px;
	text-align: center;
	list-style-type: none;
	cursor: pointer;
}
#nav-floatmenu * { text-align: left; }
#nav-floatmenu ul { list-style-type: none; margin: 0; padding: 0; }
#nav-floatmenu img { border: none; margin: 0; padding: 0;  }
#nav-floatmenu a, #nav-floatmenu a:visited { border: none; margin: 0; display: block; color: #333333; }
#nav-floatmenu a:hover, #nav-floatmenu a:active { background: #00a4e4; }
#nav-floatmenu h6 { text-align: center; font-size: 110%; margin:3px auto; }
#nav-floatmenu > li { margin:5px; border-left: 5px solid transparent; }
#nav-floatmenu > li > div {
	display: none;
	float: right;
	position: relative; top: -48px; left: 15px;
	width: 12em;
	border-left: 5px solid #00a4e4;
	z-index: 10;
	background: white;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
#nav-floatmenu > li > div li { border-bottom: 1px dotted #999999; }
#nav-floatmenu > li > div li:last-child { border-bottom: none; }
#nav-floatmenu > li > div a { padding: 10px 20px; } 


pre {
		background: #262626;
		color: #d9bf8c;
		padding: 8px;
		margin: 10px auto;
		display: block;
		width: 750px;
		overflow-x: auto;
		border-radius: 3px;
		font-size: 95%;
}

span.textit		{ font-style: italic  }
span.textsl		{ font-style: italic  }
span.arabic		{   }
span.textbf		{ font-weight: bold  }
span.textsf		{ font-style: italic  }

#footer {
	margin: 4px auto 20px;
	padding: 0 30px;
	border: none;
	line-height: normal;
	font-size: 70%;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	color: #394d4d;
}

#footer img { height: 15px; width: 80px; margin: 5px 5px 5px 0px; border: none; }
#footer a:link, #footer a:visited { color: #394d4d; text-decoration: none; border: none; font-weight: normal; }
#footer a:hover, #footer a:active { color: gray; text-decoration: none; border: none; font-weight: normal; }

#newsfeed {
	float:right;
	width: 250px;
	margin: 5px 10px 10px 20px; padding: 10px;
	background: #f5f5f5;
	border-left: 4px solid #00a4e4;
	border-right: 4px solid #00a4e4;
	border-radius: 8px;
	font-size: 80%;
}
#newsfeed h6 { text-align: center; font-size: 110%; margin:3px auto; }
#newsfeed ul { margin: 0; }
.newsitem {}

